/target
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/nome_modules/
/generator-apphealth/node_modules/

*.DS_Store
/.mvn/wrapper/maven-wrapper.jar
